.game-board {
    --cell-size: 15vmin;
    --cell-gap: 2vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
    background-color: #043156d4;
    margin: 0 auto;
    padding: 2vmin;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center
}

.item {
    background-color: #1b1920;
    border-radius: 1vmin;
    width: var(--cell-size); /* Ширина элемента равна ширине сетки */
    height: var(--cell-size); /* Высота элемента равна высоте сетки */
    color: #ffffff;
    display: flex;
    font-size: 5vmin;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

@keyframes show {
    0% {
    opacity: .5;
        transform: scale(0);
    }
}
.color-2 {
    background-color: #50C8FF;
}

.color-4 {
    background-color: #1db61d;
}

.color-8 {
    background-color: #da3a3a;
}

.color-16 {
    background-color: #c98e26;
}

.color-32 {
    background-color: #707007;
}

.color-64 {
    background-color: #b0399e;
}

.color-128 {
    background-color: #76018f;
}

.color-256 {
    background-color: #b05d6c;
}

.color-512 {
    background-color: #50C8FF;
}

.color-1024 {
    background-color: #11cc96;
}

.color-2048 {
    background-color: #2365e0;
}